@import '../../styles/main.scss';

.teams {
  width: 1440px;
  margin: 0 auto;
  background-color: $green-light;
  @include from($ipad) {
    width: 1024px;
  }
  @include from($vipad) {
    width: 766px;
  }
  @include from($mobile) {
    width: 319px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__item {
    font-family: $montserrat;
    font-size: 3rem;
    padding: 15px;
    color: $text-color;
    @include from($mobile) {
      font-size: 1.5rem;
    }
  }
}